body {
    background-image: url(img/calc2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: black;
    border-color: white;
    text-align: center;
}

.titulo {
    background-color: crimson;
    color: whitesmoke;
    opacity: 90%;
    border-radius: 20px;
    margin-left: 20vw;
    margin-right: 20vw;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 50px;
    padding-right: 50px;
}

.boton1 {
    background-color: whitesmoke;
    color: black;
    border-radius: 20px;
}

.boton:hover {
    background-color: crimson;
    color: whitesmoke;
    transition: all 0.25s;
}

.container {
    display: block;
    opacity: 90%;
    background-color: white;
    margin-left: 30vw;
    margin-right: 30vw;
    border-radius: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
}

.centrado {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
